.img-kingcharles {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: bottom;
}

.img-wald {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

.img-smiley {
    width: auto;
    height: 200px;
}

#solution.fw-bold {
    cursor: auto;
}

#solution{
    cursor: pointer;
}